<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" href="css/default.css">
    <script src="js/default.js"></script>
</head>

<body>
    <h1>Project Name</h1>

    <div class="tab">
        <div class="header">
            <span class="select_color">Home</span><span>About</span><span>Login</span><span>Register</span>
        </div>
        <div class="span_content">
            <div class="display">This is the home page</div>
            <div>Project information</div>
            <div>Login page</div>
            <div>Register page</div>
        </div>
    </div>
</body>
</html>