a {
    text-decoration: none;
    color: blue;
}

.header a{
    border: 1px solid;
    display: inline-block;
    min-width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 20px 2px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 5px 10px rgb(192, 225, 255);
    padding: 2.5px 2.5px;
}

button:hover {
    background-color: orange;
}

#select_color {
    color: white;
    background-color: orange;
}

.profile:link {
    font-size: 25px;
    color: blue;
    background-color: Azure;
    text-decoration: underline;
}

.profile:hover {
    color: while;
    background-color: orange;
}

.header a:hover{
    color: white;
    background-color: orange;
}

.main {
    width: 1100px;
    font-size: 20px;
    min-height: 640px;
}
.footer {
    position: relative;
    margin-left: 350px;
    font-size: 25px;
    bottom: -80px;
    z-index: -1;
}
.description {
    line-height: 50px;
    font-size: 30px;
    padding: 15px 10px;
}

.login form, .register form, .sub_blog, .update_profile{
    padding: 20px 20px;
    font-size: 25px;
}
input{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit], #clearDraw {
    width: 150px;
    margin: 10px 150px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
}
input[type=reset]{
    width: 150px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
}
input[type=radio]{
    width: 100px;
    padding: 0;
    font-size: 20px;
}
textarea {
    font-size: 25px;
    color: green;
    width: 90%;
}

input[type=submit]:hover{
    color: white;
    background-color: orange;
}
input[type=reset]:hover{
    color: white;
    background-color: orange;
}

.casualCase {
    line-height: 30px;
    font-size: 20px;
    padding: 0px 10px;
}

.casualCase a{
    text-decoration: underline;
    color: blue;
}
.casualCase a:hover{
    font-size: 25px;
    color: white;
    background-color: orange;
    text-decoration: none;
}

.left_col {
    width: 320px;;
    float: left;
    padding: 10px 10px;
}

.right_col {
    width: 730px;
    float: right;
    padding: 10px 10px;
}

.send_blog, .view_blog, .online_user{
    border: 2px solid red;
    border: 1.5px solid rgb(243, 166, 121);

    border-radius: 20px;
    box-shadow: 2px 5px 10px pink;
    padding: 20px 20px;
}

.send_blog h2, .view_blog h2, .online_user h2{
    text-align: center;
}

.history {
    border: 1px solid blue;
    border-radius: 15px;
    box-shadow: 2px 5px 10px green;
    padding: 10px 20px;
    margin: 20px 5px;
}

.row {
    margin: 10px;
    width: 900px;
    border-radius: 20px;
    border: 1.5px solid rgb(243, 166, 121);
    box-shadow: 2px 5px 10px pink;
}
.column {

    float: left;
    padding: 10px 30px;
}
.column.side {
    width: 500px;
    margin-right: 20px;
}
.column.middle {
    width: 250px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#pic {
    border: 1px blue solid;
}
.bot_profile {
    padding: 10px 30px;
    margin: 10px;
    width: 840px;
    border-radius: 20px;
    border: 1.5px solid rgb(243, 166, 121);
    box-shadow: 2px 5px 10px pink;
}

#newCome, #invitation {
    visibility: hidden;
    text-align: center;
    background-color: cyan;
    color: red;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 30px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 30%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 30px blue;
}
#newCome.show, #invitation.show {
    visibility: visible;
}

.direct_chat_container {
    position: absolute;
}
.direct_chat_box {
    position: relative;
    width: 800px;
    height: 550px;
    border: 1px black solid;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}

.receiver_message {
    position: relative;
    background-color: #FC3;
    width: fit-content;
    max-width: 60%;
    word-wrap: break-word;
    text-align: right;
    padding: 5px 10px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 20px;
    margin-right: auto;
}

.sender_message {
    position: relative;
    background-color: #9EEA6A;
    width: fit-content;
    max-width: 60%;
    word-wrap: break-word;
    text-align: right;
    padding: 5px 10px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 20px;
    margin-left: auto;
}

.send_out {
     text-align: center;
}

#sendbutton, #send_blog, #clearDraw, #invite, #gameTextSend {

    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
}

#drawBoard {
    background:white;
    border: 1px solid;
}

#color1 {
    width: 250px;
    height:  60px;
}

.mini_icon {
    width: 35px;
    height: 35px;
}

.game {
    float: left;
}
#gameText{
    width: 240px;
}
.gameChat {
    height: 450px;
    width: 350px;
    float: left;
    font-size:18px;

    
}
#gameMessage{
    height: 450px;
    border: 1px solid black;
    overflow-y: scroll;
}
#gameMessage p {
    padding: 10px 10px;
}
.gameChatMenu {
    margin-left: 30px;
}
.game_users {
    text-align: center;
    width: 220px;
    height: 430px;
    float:left;
    border: 2px solid red;
    border: 1.5px solid rgb(243, 166, 121);

    border-radius: 20px;
    box-shadow: 2px 5px 10px pink;
    padding: 10px 10px;
}

