<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->
    <script src="../static/js/default.js" charset="utf-8"></script>
</head>

<body>
    <h1>FaceNote</h1>
    <div id="newCome"></div>
    <div id="invitation"></div>
    <div class="header">
        <a href="index.html" >Home</a>
        <a href="game.html" >Game</a>
        <a href="about.html" id="select_color" >About</a>
        <a href="register.html" >Register</a>
        {% if user %}
        <a href="profile.html" class="profile">{{user}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="login.html">Login</a>
        {% endif %}
    </div>
    <div class="main">
        <div class="description">About FaceNote</div>
        <hr>
        <div class="about">
            FaceNote is a powerful web application.<br/><br/>
            FaceNote has the function of Blog which clients can share their great
            moment with other. Right now, the blog section permits user to upload several
            types of multimedia, i.e. all kinds of images.<br/><br/>
            Another wonderful feature of FaceNote is it allows user to send a private message
            to another user online. When a new private message is received, there is a showy
            notice displayed without disturbing you.<br/><br/>
            The most brilliant section of FaceNote is the game section. User can enter the game
            page and invite all online users to start an interesting game. In the game page,
            players are listed and players can communicate to other. One user can draw on the
            board and other can guess what he/she is drawing.<br/>
            <br/>
            <b>Explore more functions of FaceNote, have a great time!</b>
            <br/><br/>
            <b>Special thanks for the designer and app developers.</b>
            <ul>
                <li>Zhongai Shi</li>
                <li>Zhongen Shi</li>
                <li>Haohua Feng</li>
                <li>Baicheng Huang</li>
            </ul>
        </div>

    </div>
    <div class="footer">
        <p>Copyright &copy; 2021 FaceNote</p>
    </div>
</body>
</html>