<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <script src="../static/js/default.js"></script>
</head>

<body>
    <h1>Project Name</h1>

    <div class="tab">
        <div class="header">
            <span class="select_color">Home</span>
            <span id="about">About</span>
            <span id="login">Login</span>
            <span id="register">Register</span>
        </div>
        <div class="span_content">
            <div class="display">Nothing to see here</div>
            <div id="about">Website information</div>
            <div id="login"></div>
            <div id="register"></div>
        </div>
    </div>
    <div class="online_user">
        Online user
    </div>
</body>
</html>