<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <script src="../static/js/default.js"></script>
</head>

<body>
    <h1>Project Name</h1>

    <div class="tab">
        <div class="header">
            <span class="select_color">Home</span><span>About</span><span>Login</span><span>Register</span>
        </div>
        <div class="span_content">
            <div class="display">Nothing to see here</div>
            <div>Website information</div>
            <div id="login">
                <form method="post">
                    <label for="username">Username</label>
                    <input name="username" id="username" required><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required><br>
                    <input type="submit" value="Login">
                </form>
            </div>
            <div id="register">
                <form method="post">
                    <label for="username">Username</label>
                    <input name="username" id="username" required><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required><br>
                    <label for="pcheck">Confirm Password</label>
                    <input type="password" name="pcheck" required><br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</body>
</html>