<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../static/js/default.js" charset="utf-8"></script>
</head>

<body>
    <h1>Project Name</h1>

    <div class="header">
        <a href="/index.html" id="select_color">Home</a>
        <a href="/about.html" >About</a>
        <a href="/register.html" >Register</a>
        {% if sender %}
        <a href="/profile.html" class="profile">{{sender}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login.html">Login</a>
        {% endif %}
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js"></script>
<script
              src="http://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>

<script type="text/javascript">

$(document).ready(function() {
   var socket = io();
<!--       socket.on('connect', function() {-->
<!--        socket.emit('connect','{{sender}} has connected!');-->
<!--       });-->
       socket.on('privateMessage',function(msg) {
        $("#messages").append('<li>'+msg.sender+' send to '+ msg.receiver + ': '+ msg.message+   '</li>');
        console.log('received message');
        alert("New message from "+msg.sender);
        });
        $('#sendbutton').on('click',function() {
            var sender = "{{sender}}";
            console.log(sender);
            var receiver = "{{send_to}}";
            console.log(receiver);
            var message = $('#myMessage').val();
            console.log(message);
            $("#messages").append('<li>'+sender+' send to '+ receiver + ': '+ message+   '</li>');
            socket.emit('message',{'sender':sender, 'receiver':receiver, 'message':message});
            $('#myMessage').val('');
       });
       });
</script>
{% for message in messages %}
<li>{{message['sender']}} send to {{message['receiver']}}: {{message['message']}}</li>

{% endfor %}


<ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="sendbutton">send</button>

</body>
</html>