<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->
    <script src="../static/js/default2.js" charset="utf-8"></script>
</head>

<body>
    <h1>Project Name</h1>
    <div id="newCome"></div>
    <div class="header">
        <a href="index.html" id="select_color">Home</a>
        <a href="about.html" >About</a>
        <a href="register.html" >Register</a>
        {% if user %}
        <a href="profile.html" class="profile">{{user}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="login.html">Login</a>
        {% endif %}
    </div>
    <div class="main">
        <div class="description">This is Homepage</div>
        <hr>
        <div class="left_col">
            <div class="online_user">
                <h2>Online Users:</h2>
                <div id="current_users">
                {% for user in users %}
                    <img src="static/images/{{user['icon']}}" width=50/>
                    <a href="user_profile/{{user['username']}}">{{user['username']}}</a>
                    &nbsp;
                    <a href="direct_chat/{{user['username']}}">chat</a>
<!--                    <span id="new{{user['username']}}"> </span><br/>-->
                {% endfor %}

                </div>
            </div>
        </div>
        <div class="right_col">
            <div class="send_blog">
                {% if user %}
                <h2>Welcome <a href="profile.html" class="profile">{{user}}</a>，share your great moment!</h2>
                <hr>

                <label for="form-file">Image: </label>
                <input id="form-file" type="file" name="upload">
                <br/>
                <label for="comment">Comment: </label><br/>
                <input id="comment"  name="comment" placeholder="Write some comment ..." required>
                <button type="button" >Send</button>

                {% else %}
                You are not logged yet，<a href="login.html">Please login first</a>
                {% endif %}
            </div>
                <br/><br/>

            <div class="view_blog">
                <h2>Shared moments!</h2>

                <hr>
                {% for blog in blogs %}
                <div class="history">
                    <p>Uploaded by {{blog['username']}} by date: {{blog['date']}}</p>
                    <hr>
                    {% if blog['filename'] %}
                    <embed src="static/images/{{blog['filename']}}" type="{{blog['filetype']}}" width="90%">
                    {% endif %}
                    <p>{{blog['comment']}}</p><br/>
                </div>
                {% endfor %}
                <div id="chat"></div>
            </div>
        </div>

    </div>
</body>
</html>