<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resetpassword page</title>
</head>
<h1>Reset password</h1>


<form method="POST" enctype= "multipart/form-data">


    <div>
        <label for="exampleInputEmail1">Old password</label>
        <input name="oldpassword" type="password" value="" id="exampleInputEmail1" placeholder="old password">
    </div>

    <div>
        <label for="exampleInputEmail1">Password</label>
        <input name="password" type="password" value="" id="exampleInputEmail1" placeholder="Password">
    </div>

    <div>
        <label for="exampleInputEmail1">Confirm password</label>
        <input name="confirm_password" type="password" value="" id="exampleInputEmail1" placeholder="Confirm password">

    </div>

    <button type="submit">Submit</button>

</form>
</html>
